.task {
	display: grid;
	grid-template-columns: 1fr 4fr 6fr 1fr;
	align-items: center;
	color: #fff;
	background-color: #000033;
	margin: 1em;
}

.task__checkbox {
	margin: 2em;
}

.task__name {
	padding: 0.5em;
	justify-self: flex-start;
}

.task__description {
	justify-self: flex-start;
	padding: 1em;
}

.task__delete {
}

/* Name when checkbox is checked */
.task__checkbox:checked ~ .task__name {
	text-decoration: line-through;
	color: grey;
}

/* Description when checkbox is checked */
.task__checkbox:checked ~ .task__description {
	text-decoration: line-through;
	color: grey;
}
